{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="side-bar">
  <h1>Categories</h1>
  <a href="">Birthday</a>
  <a href="">Anniversary <span></span></a>
  <a href="">Valentine <span></span></a>
  <a href="">Flowers <span></span></a>
  <a href="">Chocolate <span></span></a>
  <a href="">Plants <span></span></a>
  <a href=""> Electronics <span></span></a>
  <a href=""> Jewels <span></span></a>
</div>
<div class="product-show">
  <h1>Trending Products</h1>
  <div class="products">
    {%for product in products%}
    <div class="card" link="width: 18rem;">
        <a href=""><img height="150px" width = 200px src="{{product.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}( Rs {{product.price}})</h5></a>
          <button> Buy now</button>
        </div>
      </div>
      {%endfor%}
    </div>
    <div class="bd-show">
      <h1>Birthday</h1>
      <div class="products">
        {%for product in products%}
        {% if product.category == "Birthday"%}
        <div class="card" link="width: 18rem;">
            <a href=""><img height="150px" width = 200px src="{{product.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}( Rs {{product.price}})</h5></a>
              <button> Buy now</button>
            </div>
          </div>
          {% endif %}
          {%endfor%}
        </div>
          <div class="bd-show">
            <h1>Electronics</h1>
            <div class="products">
              {%for product in products%}
              {% if product.category == "Electronic"%}
              <div class="card" link="width: 18rem;">
                  <a href=""><img height="150px" width = 200px src="{{product.image}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{product.name}}( Rs {{product.price}})</h5></a>
                    <button> Buy now</button>
                  </div>
                </div>
                {% endif %}
                {%endfor%}
              </div>

        <div class="bd-show">
          <h1>Anniversary</h1>
          <div class="products">
            {%for product in products%}
            {% if product.category == "Anniversary"%}
            <div class="card" link="width: 18rem;">
                <a href=""><img height="150px" width = 200px src="{{product.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}( Rs {{product.price}})</h5></a>
                  <button> Buy now</button>
                </div>
              </div>
              {% endif %}
              {%endfor%}
            </div>
            <div class="bd-show">
              <h1>Chocolate</h1>
              <div class="products">
                {%for product in products%}
                {% if product.category == "Chocolate"%}
                <div class="card" link="width: 18rem;">
                    <a href=""><img height="150px" width = 200px src="{{product.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{product.name}}( Rs {{product.price}})</h5></a>
                      <button> Buy now</button>
                    </div>
                  </div>
                  {% endif %}
                  {%endfor%}
                </div>
                <div class="bd-show">
                  <h1>Jewels</h1>
                  <div class="products">
                    {%for product in products%}
                    {% if product.category == "Jewels"%}
                    <div class="card" link="width: 18rem;">
                        <a href=""><img height="150px" width = 200px src="{{product.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{product.name}}( Rs {{product.price}})</h5></a>
                          <button> Buy now</button>
                        </div>
                      </div>
                      {% endif %}
                      {%endfor%}
                    </div>
                    <div class="bd-show">
                      <h1>Flowers</h1>
                      <div class="products">
                        {%for product in products%}
                        {% if product.category == "Flowers"%}
                        <div class="card" link="width: 18rem;">
                            <a href=""><img height="150px" width = 200px src="{{product.image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">{{product.name}}( Rs {{product.price}})</h5></a>
                              <button> Buy now</button>
                            </div>
                          </div>
                          {% endif %}
                          {%endfor%}
                        </div>
</div>
</body>
</html>
{% endblock  %}